{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Tableau de bord - ScoopSam{% endblock %}

{% block main %}
    <h1>Bienvenue sur votre dashboard</h1>
    <p>Utilisez le menu de gauche pour gérer les différentes entités de votre application.</p>
{% endblock %}